.small_img img{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
    background: #FFF;
    border: 1px solid;
    border-color: #F2F2F2 #CDCDCD #CDCDCD #F2F2F2;
}
#extcreditmenu, #g_upmine{
    border: 1px solid #F2F2F2;
}
#extcreditmenu.a, #g_upmine.a{
    margin-right: 2px !important;
}
#um .avt{
    margin-right: 0;
}
.um .bg{
    display: block; 
}
.wp{
    width: 1100px !important;
}
#hd{
    background-size: 100% 100% !important;
}
#hd h2{
    padding: 0 275px 23px 0;
}
#toptb a{
    line-height: 28px;
    padding: 0 7px;
}
#toptb{
    height: 60px;
}
.tz{
    position: absolute;
    left: 320px;
    top: -2px;
    border-left: 1px solid #eee;
}
.fl .bm{
    border: 1px solid #C2D5E3;
    border-top: none;
    margin-top: 10px;
}
#scbar_txt{
    width: 370px;
}
.fl_icn_g a img{
    border-radius: 10px;
}
.form1,.form2{
    width:48%;
    position: relative;
    margin-top: 3px;
}
.xl2 li{
    width: 40%;
    margin: 2px 11px;
}

#pcd {
    padding: 15px 4px 15px 13px;
}

.ct2_a .mn{
    width: 940px !important;
}

.sd{
    width: 260px !important;
}
.fs16 h2 img{
    width: 150px;
    height: 60px;
}
.hdc img{
    width: 540px;
}
.hdc {
    margin-bottom:  15px;
}
.hdc .a_h{
    float: left;
    text-align: left;   
    width:  540px !important;
}
.hdc .oshr{
    float: right;
    width:  540px !important;
}
ins{
    width: 540px !important;
}
#toptb{
    background: #E5EDF2 url(../../../static/image/blog/titlebg.png) repeat-x 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.oshr{
    border: none;
}

.ss{
    width: 72%;
    height: 36px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
.sub1{
    float: right;
    padding: 0 20px 0 48px;
    height: 36px;
    font-size: 16px;
    width: 120px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0.05em rgba(0,0,0,.4);
}
.all{
    background-color: #3b5998 !important;
}
.sqj{
    background-color: #f60;
} 

.bm .bm_c .pbr{
    width: auto !important;
}
.i-search{
    width: 17px;
    height: 17px;
    background: url(../../../static/image/blog/sprite1470793520867.png) -201px -169px no-repeat;
    position: absolute;
    left: 420px;
    top: 10px;
    cursor: pointer;
}
#scbar{margin-top: 5px;padding:3px 10px;}
#um{margin-right: 0 !important;padding-top: 0;padding-right: 0;}

.xjt{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../../../static/image/blog/sprite1470793520867.png) -231px -116px no-repeat;
    position: absolute;
    top: 17px;
    right: 150px;
    display: inline-block;
}
#scbar_btn{
    padding: 0 20px 0 48px;
}
p .landr{
    display: inline-block;
    margin-top: 15px;
}
#nv{
    background-size: 100%;
}
.pls dt{
    margin-left: 15px;
    margin-right: 20px !important;
}
.fl{
    border: none;
}

/*公共的样式--------------------------------------------------------*/

.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fls{ float: left; border: none; background: none;}
.fr{float: right;}
.w100{width: 100%;}
.h100{height:100%;}
.c_f{color: #fff;}
.mt15{margin-top: 15px;}
.fs12{font-size: 12px;}
.w50{width:50%;}
.w49{width: 48%;}
.por{position: relative;}
.poa{position: absolute;}
img{border: 0; max-width: 100%;}
.list_tit{font-size: 20px; font-weight: 700; }
.color_gray{color: #999;}
.mt12{margin-top: 12px;}
.mb10{margin-bottom: 10px;}
#wrap{max-width: 1100px; margin: 0 auto; }
a{color: #333;}
h1,h2,h3,h4,h5,h6,ul{ margin: 0  !important; }
.fw600{font-weight: 600;}
.plr{padding: 0 15px;}
.mtm{margin: 10px 0 30px !important;}