.blog_web{
  padding: 10px;
}
a{
  color: #333 !important;
}
.aa{
  padding: 5px 0 2px;
}
.aa a{
  font-size: 16px;
}
dd .xg1{
  font-size: 13px;
}
.blog_web .xld dd{
  font-size: 14px;
}
dd.xg1 a{
  font-size: 13px;
}