
.wp{
    margin: 0 auto; width: 1010px;
}
#chart{
    margin-bottom: 5px;
    margin-top: 5px;
}
#scbar_txt{
    width: 335px;
}
.form1{
    float: left;
}
.form1,.form2{
    width:49%;
    position: relative;
    margin-top: 3px;
}

.fastlg_fm {
    position: absolute;
    top: 14px;
    right: 80px;
}

.mui-off-canvas-wrap{
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 55px;
}
.focus{
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 10 !important;
    overflow: hidden;
    width: 270px;
    background: #FFF;
}

.ss{
    width: 69%;
    height: 36px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    outline: none;
}
.sub1{
    float: right;
    padding: 0 20px 0 48px;
    height: 36px;
    font-size: 16px;
    width: 120px;
    margin-top: 1px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0.05em rgba(0,0,0,.4);
    cursor: pointer;
}
.all{
    background-color: #3b5998 !important;
}
.sqj{
    background-color: #f60;
} 
.bm .bm_c .pbr{
    width: auto !important;
}
.mui-scroll{
    padding-bottom: 50px;
}
.i-search{
    width: 17px;
    height: 17px;
    background: url(../../../static/image/blog/icos.png) -201px -169px no-repeat;
    position: absolute;
    left: 390px;
    top: 10px;
    cursor: pointer;
}
.fastlg_fm { margin-right: 5px; padding-right: 5px; border-right: 1px solid #eee; }
#scbar{margin-top: 5px;padding:6px 10px;}
#um{margin-right: 0 !important;padding-top: 0;padding-right: 0;}
.xjt{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url(../../../static/image/blog/icos.png) -231px -116px no-repeat;
    position: absolute;
    top: 17px;
    right: 175px;
    display: inline-block;
}
#scbar_btn{
    padding: 0 20px 0 48px;
}
p .landr{
    display: inline-block;
    margin-top: 15px;
}
#scbar_type{
    position: absolute; 
    right: 145px;
    top: -2px;
    border-left: 1px solid #eee;
}
.pls .o li{
    background-position: 0 50%;
    background-repeat: no-repeat;
    text-indent: 14px !important;
}
.pls dt {
    margin-right: 3px;
    width: 55px;
}
#ct .bm2{
    border: 1px solid #cdcdcd !important;
}
.hdc .avt img{
    margin-left: 15px;
}
.user_txt{
    position: absolute;
    right: 0;
    top: 15px;
}
.user_txt p{
    font-size: 14px;
    font-weight: bold;
    color: #3b5998 ;
}
.user_txt p a{
    color: #3b5998 ;
}
.user_txt .p1{
    margin-left:75px;
}
.user_txt .p2{
    margin-left: 60px;
}
.left_nav_tit a{
    color: #369;
    display: block;
    margin: 10px 0;
}
#f_pst{
    border: 1px solid #cdcdcd;
}
.bm .bm_c img{
    border-radius: 5px;
}

.hdc{
    min-height: 70px;
    position: relative;
}
#scbar_txt { border: 1px solid #FFF; outline: none; }
#scbar_btn { text-align: left; border: none; background: transparent none; box-shadow: none; }
#scbar_type {padding-left: 30px; text-align: left; text-decoration: none; }
#um .avt { display: inline; margin-right: 0 !important;}
.a_pt, .a_pb { margin: 10px 0; padding-left: 1px; background: none !important;}

#subname_list{
    display: block !important;
}
.mnn{
    width: 1010px !important;
}
.mnn>.bm{
    border: none !important;
}

.xi2 a{margin-left: 5px;}

#ct {
    margin: 0 auto !important;
    width: 1010px;
}
#toptb {
    /*padding: 0 15px;*/
    border-bottom: 1px solid #EFEFEF;
    /*width: 1010px;*/
    margin: 0 auto;
}
#hd{
    width: 1010px !important;
    margin: 0 auto;
    background-size: cover !important;
}
.ct2 .mn{
    margin-left: 0 !important;
}
.ct2 .sd{
    width: 240px !important;
    margin-right: 0 !important;
}
.area{
    padding: 0 !important;
}
#frame1_center{
    width: 530px !important;
}

#frame1_left .block{
    margin-left: 0 !important;
}
#frame1_right .block{
    margin-right: 0 !important;
}
.xl2 li{
    text-align: center;
}
.ptn li{
    width: 45%;
    margin-left: 10px;
}

.GoogleActiveViewClass img{
    margin-bottom: 10px;
}
html,body {
    width:100%;
    overflow: visible;
}


.appl{
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 162px;
}
.ct2_a, .ct3_a {
    border: 1px solid #CCC;
    background-size: 18% 18%;
}
.xl2 li {
     text-align: left; 
}

.tb-text{
    width: 69.5%;
    height: 36px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    outline:none;
}
.tb-text1{
    outline: none;
}
.coment1{
    float: right;
    padding: 0 20px 0 48px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    width: 52px;
    margin-top: 1px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0.05em rgba(0,0,0,.4);
    cursor: pointer;
    background-color: #3b5998;
    text-decoration: none;
}
.coment1:hover{
    text-decoration: none;
}

#category_grid h4 span{
    background: none !important;
    width: auto !important;
    height: 30px;
    display: inline-block;
}
#category_grid h4 span.h4{
    position: absolute;
    top: 0;
    left: 70px !important;
}
#ul .active{
    display: block
}
#ul{
    position: relative;
}
#tabs .select{
    color: blue !important;
}
#ul .mo{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

#tit4,#tit2,#tit3{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 12px;
    cursor: pointer;
    background: url(../../../static/image/common/tb.png) repeat-x;
    position: relative;
}
#tit4 .select a,#tit2 .select a{
    color: #2b7acd;
}
#tit4 span,#tit2 span{
    padding: 0 5px;
    font-weight: 600;
}
#tit4 span a,#tit2 span a{
    text-decoration: none;
}
#con4,#con2{
    position: relative;
}
#con4 li a,#con2 li a{
    display: block;
    width: 85%;
    float: left;
    background: url(../../../static/image/common/dot.gif) no-repeat left center; 
    height: 21px;
    line-height: 21px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#con4 li,#con2 li{
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}
#con4 li.show,#con2 li.show{
    display: block;
}

.category_newlist li a{
    font-weight: 400;
    color: #000;
    font-size: 12px;

}

.add_friends{
    padding: 0 10px;
}


.pm11{
    overflow: hidden;
    width: auto;
}
.pmfm .tedt{
    width: 98%;
}
.px{
    margin: 5px 0;
}
.mui-scroll #avatardesigner,.mui-scroll #avatarfile,.mui-scroll #avatarfileselector{
    width: 330px !important;
}
.mui-scroll #avatarfileselector {
    background: url(../../../static/avatar/avatar_upload.gif) no-repeat;
    position: relative;
    background-size: 100% 100%;
}

#blog_article p{
    padding-bottom: 10px;
}

#div.p img{
    text-align: center;
}

.ttp {
    margin-bottom: 5px;
    padding-top: 10px;
    border-width: 2px 0 0;
    background: transparent;
}
.ttp li {
    float: left;
    padding-bottom: 5px;
}
.ttp a, .ttp strong {
    float: left;
    margin-right: 5px;
    padding: 4px 8px 3px;
    height: 18px;
    border: 1px solid #CDCDCD;
    background: #FFF;
    white-space: nowrap;
}
.ttp .a a {
    padding-right: 12px;
    padding-left: 12px;
    border-color: #369;
    background: #E5EDF2;
    color: #369;
}
.fa_fav_0, .fa_fav, .fa_rss, .fa_achv, .fa_bin, .fa_ivt {
    padding-left: 20px;
    background: no-repeat 0 50%;
}
.fa_rss {
    background-image: url(../../../static/image/common/feed.gif);
}