<!--{if $_G['setting']['search']}-->
    <!--{eval $slist = array();}-->
    <!--{if $_G['fid'] && $_G['forum']['status'] != 3 && $mod != 'group'}--><!--{block slist[forumfid]}--><li><a href="javascript:;" rel="curforum" fid="$_G[fid]" >{lang search_this_forum}</a></li><!--{/block}--><!--{/if}-->
    <!--{if $_G['setting']['portalstatus'] && $_G['setting']['search']['portal']['status'] && ($_G['group']['allowsearch'] & 1 || $_G['adminid'] == 1)}--><!--{block slist[portal]}--><li><a href="javascript:;" rel="article">{lang article}</a></li><!--{/block}--><!--{/if}-->
    <!--{if $_G['setting']['search']['forum']['status'] && ($_G['group']['allowsearch'] & 2 || $_G['adminid'] == 1)}--><!--{block slist[forum]}--><li><a href="javascript:;" rel="forum" class="curtype">{lang thread}</a></li><!--{/block}--><!--{/if}-->
    <!--{if helper_access::check_module('blog') && $_G['setting']['search']['blog']['status'] && ($_G['group']['allowsearch'] & 4 || $_G['adminid'] == 1)}--><!--{block slist[blog]}--><li><a href="javascript:;" rel="blog">{lang blog}</a></li><!--{/block}--><!--{/if}-->
    <!--{if helper_access::check_module('album') && $_G['setting']['search']['album']['status'] && ($_G['group']['allowsearch'] & 8 || $_G['adminid'] == 1)}--><!--{block slist[album]}--><li><a href="javascript:;" rel="album">{lang album}</a></li><!--{/block}--><!--{/if}-->
    <!--{if $_G['setting']['groupstatus'] && $_G['setting']['search']['group']['status'] && ($_G['group']['allowsearch'] & 16 || $_G['adminid'] == 1)}--><!--{block slist[group]}--><li><a href="javascript:;" rel="group">$_G['setting']['navs'][3]['navname']</a></li><!--{/block}--><!--{/if}-->
    <!--{block slist[user]}--><li><a href="javascript:;" rel="user">{lang users}</a></li><!--{/block}-->
<!--{/if}-->
<!--{if $_G['setting']['search'] && $slist}-->
<div id="scbar" class="{if $_G['setting']['srchhotkeywords'] && count($_G['settinxg']['srchhotkeywords']) > 5}scbar_narrow {/if}cl">
    <!--{if $_G['config']['other']['baidu_search_js_status'] == 1}-->
           <!--  <div class="form1 z">
                {$_G['config']['other']['baidu_search_js']}
            </div> -->
    <!--{elseif $_G['config']['other']['baidu_search_js_status'] == 2}-->
        <!-- <div class="form1 z tb-text1" id="scbar_form">
            <input type="text" onkeypress="search_enter()" id="obj1" placeholder="{lang enter_content}" class="ss" style="margin-top: 1px;"/>
        
            <input type="submit" id="btn2"  onclick="f1()" sc="1" class="sub1 all" value="搜内容">
            <i class="i-search"></i>
        </div> -->
    <!--{elseif $_G['config']['other']['baidu_search_js_status'] == 3}-->

        <!-- <div class="form1">
            <input type="text" class="tb-text" id="input" placeholder="请输入搜索的内容" >
            <input type="text" id="hiddentext" style="display:none;">
            <span id="sp1">
                <a href="javascript:void(0);" id="button" class="coment1">搜帖子</a>
                <i class="i-search"></i>
            </span>
            <script>
                function three(){
                    var val = document.getElementById("input").value;
                    window.open('http://www.baidu.com/s?wd=site:eetop.cn' + ' ' + val,"_blank");
                }

                jQuery("#button").click(function(){
                    three();
                });
                
                jQuery("#input").keypress(function(e){
                    var curKey = e.which;
                    if(curKey == "13"){
                        three();
                    }
                });
            </script>
        </div> -->
    <!--{elseif $_G['config']['other']['baidu_search_js_status'] == 4}-->
        <!-- <div class="form1 site" id="site">
            <input type="text" class="tb-text" id="input" placeholder="请输入搜索的内容" >
            <input type="text" id="hiddentext" style="display:none;">
            <span id="sp1">
                <a href="javascript:void(0);" id="button" class="coment1">搜帖子</a>
                <i class="i-search"></i>
            </span>
            <script>
                function getURL() {
                    var val = document.getElementById("input").value;
                    var zn = "$_G['config']['other']['baidu_search_action']";
                    var znss = zn+val;
                    var newWindow = window.open();
                     var url = "http://zhannei.baidu.com/";//请求的url
                     jQuery.ajax({
                        type: 'get',
                        url: url,
                        cache: false,
                        dataType: "jsonp",
                        processData: false,
                        timeout:500,
                        complete: function (data) {
                            var htmlTxt =[];
                            if (data.status==200) {
                              newWindow.location.href=znss;
                            } else {
                              newWindow.location.href ='http://www.baidu.com/s?wd=site:eetop.cn' + ' ' + val;
                            }    
                        }       
                    });
                }

                jQuery("#button").click(function(){
                    getURL();
                    
                });
                
                jQuery("#input").keypress(function(e){
                    var curKey = e.which;
                    if(curKey == "13"){
                        getURL();
                    }
                });
            </script>
        </div> -->
    
    <!--{elseif $_G['config']['other']['baidu_search_js_status'] == 5}-->

        <div class="form1 site" id="site">
            <input type="text" class="tb-text" id="input" placeholder="请输入搜索的内容" >
            <input type="text" id="hiddentext" style="display:none;">
            <span id="sp1">
                <a href="javascript:void(0);" id="button" class="coment1">搜帖子</a>
                <i class="i-search"></i>
            </span>
            <script>
                    
                function getURL() { 
                    var val = document.getElementById("input").value;
                    var zn = 'https://www.sogou.com/web?query=site:eetop.cn' + '+' + val;
                    window.open(zn,"_blank");
                }

                jQuery("#button").click(function(){ 
                    getURL();
                    
                });
                
                jQuery("#input").keypress(function(e){
                    var curKey = e.which;
                    if(curKey == "13"){
                        getURL();
                    }
                });
            </script>
        </div>

    <!--{else}-->
        <!-- <form class='form1 z' id="scbar_form" method="{if $_G[fid] && !empty($searchparams[url])}get{else}post{/if}" autocomplete="off" onsubmit="searchFocus($('scbar_txt'))" action="{if $_G[fid] && !empty($searchparams[url])}$searchparams[url]{else}search.php?searchsubmit=yes{/if}" target="_blank">
                <input type="hidden" name="mod" id="scbar_mod" value="search" />
                <input type="hidden" name="formhash" value="{FORMHASH}" />
                <input type="hidden" name="srchtype" value="title" />
                <input type="hidden" name="srhfid" value="$_G[fid]" />
                <input type="hidden" name="srhlocality" value="$_G['basescript']::{CURMODULE}" /> -->
                <!--{if !empty($searchparams[params])}-->
                    <!--{loop $searchparams[params] $key $value}-->
                    <!--{eval $srchotquery .= '&' . $key . '=' . rawurlencode($value);}-->
                    <!-- <input type="hidden" name="$key" value="$value" /> -->
                    <!--{/loop}-->

                    <!-- <input type="hidden" name="source" value="discuz" />
                    <input type="hidden" name="fId" id="srchFId" value="$_G[fid]" />
                    <input type="hidden" name="q" id="cloudsearchquery" value="" />
 -->
                    <!-- <style>
                    #scbar { overflow: visible; position: relative; }
                    #sg{ background: #FFF; width:456px; border: 1px solid #B2C7DA; }
                    .scbar_narrow #sg { width: 316px; }
                    #sg li { padding:0 8px; line-height:30px; font-size:14px; }
                    #sg li span { color:#999; }
                    .sml { background:#FFF; cursor:default; }
                    .smo { background:#E5EDF2; cursor:default; }
                    </style>
                    <div style="display: none; position: absolute; top:37px; left:44px;" id="sg">
                        <div id="st_box" cellpadding="2" cellspacing="0"></div>
                    </div> -->
                <!--{/if}-->
                <!-- <input type="text" name="srchtxt" id="scbar_txt" value="{lang enter_content}" autocomplete="off" class="ss" x-webkit-speech speech />
                
                <input type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="sub1 all" value="搜索">
                <i class="i-search"></i>
        </form> -->
    <!--{/if}-->

    <form class="form2 y" action="http://ic.eetop.cn/index/default_list" target="_blank" method="get" name="b">
        <input name="title" id="scbar_txt" placeholder="海量 IC 数据等你来查询！" class="ss" />
        <input type="submit" name="sub" value="搜器件" class="sub1 sqj c_f"/>
        <i class="i-search"></i>
    </form>
</div>
<ul id="scbar_type_menu" class="p_pop" style="display: none;"><!--{echo implode('', $slist);}--></ul>
<script type="text/javascript">
    initSearchmenu('scbar', '$searchparams[url]');
</script> 

<script type="text/javascript">

    function f1(){
        var v=document.getElementById("obj1");
        window.open('{$_G['config']['other']['baidu_search_action']}' + encodeURIComponent(v.value) ,'_blank');
    }

    function search_enter(){
         //回车键的ASCII值是13
         if(event.keyCode == 13){
             //调用搜索按键事件
            document.getElementById("btn2").click();
        }
    }
</script>
<!--{/if}-->
